

html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
}

h1 {
	text-align: center;	
	background-color: #1affc2;
	margin: 0;
}
h1.header{
	background-color: #00cc96;
	margin: 0;
}

h2 {
	text-align: center;
	background-color: #80ffdd;
	margin: 0;
}

article {
	background-color: #C0FFEE;
	margin: 0;
}

div {
	margin: 0;
}

div.row {
	
}

div.container {

}

